#example-list {
    background-color: tan;
}

#tacocatbackground {
    width: 100%;
}

body {
    background-image: linear-gradient(to left, #f3edc9, #cfe4e9);
}

#solveDisplay {
    margin-top: 10px;
    border-style: groove solid;
    border-color: #00ccff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

img {
    max-width: 100%;
    height: auto;
}